.form-panel{
  margin: 0 auto;
  width:100%;
  max-width: 570px;
  padding: 60px;
  margin-top:140px;
  border-radius: 12px;
  border: solid 1px rgb(217, 235, 213);
  background-color: #eaf3f1;
}

.header{
  
  margin-left: 0;
  padding: 20px 0;
}

.navbar-dark{
  background-color:#2C3E50;
  color:#96BDF7;
}

.channels{
  display:inline;
  /* width:100%; */
  
}

.form{
  margin-top:50px;
}

.content{
  
  display:inline;
}


/* MESSAGES */

ul{
  list-style-type: none;
}

.message{
  padding: 12px 5px;
  padding-right: 50px;
  list-style: none;
 
  margin-top: 10px;
}

.message-date{
  color: #ccc;
  margin-left: 10px;

}

.message-username{
  /* display:inline; */
}





.alert{
  margin-top: 30px;
}

.alert-ok {
  background-color: rgb(124, 218, 124);
  color: rgb(10, 66, 10);
}

.alert-error {
  background-color: rgb(236, 68, 68);
  color:#fff;
}

/*

  client v3
*/

.main{
  padding-top:20px;
}

.main-center{
  margin-left: 20%;
}